{% extends "base.html" %}

{% block content %}
            <h3> About: </h3>
            <p>
                Hi and welcome to my portfolio page! My name is Huberom; Im a passionate 
                programmer who finds enjoyment and fulfillment from the journey of creating
                experiences.
            </p>

            <br />

            <p> 
                Explore my different page links above to see my projects, skills, and education!
                Below is ways you can get in further contact with my social media, coding
                projects and resume:
            </p>

            <a href="https://github.com/huberomrodrigues13" target="_blank">🔗 GitHub</a>

            <a href="https://www.linkedin.com/in/your-linkedin-username" target="_blank">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" 
                alt="LinkedIn" width="30" style="vertical-align: middle;" /> LinkedIn
            </a>
            
        </main>
{% endblock %}