{% extends "base.html" %}

{% block content %}
    <h2>Note Manager website</h2>
    <p>A web-based note manager built with Flask and SQLite</p>

    <div style="text-align: center;">
        <h4> List of website features: </h4>
        <p>(1) User login/authentication with Flask-Login</p>
        <p>(2) Create, delete, and filter tasks</p>
        <p>(3) Clean UI</p>
    </div>

    <p>This app was a great intro to full-stack development. I learned about database models, templating with Jinja, and session handling.</p>

    <div>
        <br /> <br /> <br />
        <p> HERE IS WHERE YOU PUT A VIDEO OR PICTURES </p>
        <br /> <br /> <br />
    </div>


    <p> 
        Below is the link to my GitHub repo showing all the website logic during development
    </p>
    <a href="https://github.com/huberomrodrigues13/Note-Website" target="_blank">🔗 GitHub</a>
{% endblock %}