{% extends "base.html" %}

{% block content %}
    <h1>Project Template</h1>
    <p style="max-width: 800px; margin: 0 auto;">
        (A brief 1-2 sentence summary of what the project is, what problem it solves, 
        and why it's cool.)
    </p>

    <div style="margin-top: 40px;">
        <h3> Key features in (projectname): </h3>
        <p>(1) User login/authentication with Flask-Login</p>
        <p>(2) Create, delete, and filter tasks</p>
        <p>(3) Clean UI</p>
    </div>

    <div style="max-width: 800px; margin: 40px auto;">
        <h3> How It Was Built </h3>
        <p>
            (write 1-2 paragraphs here describing the process of building the project, what
            tech you used, what you learned, and any challenges or creative solutions.)
        </p>
    </div>

    <div style="margin: 60px 0;">
        <h3> Videos and/or Screenshot preview </h3>
        <br /> <br /> <br />
        <p> (HERE IS WHERE YOU PUT A VIDEO OR PICTURES) </p>
        <br /> <br /> <br />
    </div>


    <div style="margin-top: 40px;">
        <p>🔗 You can check out the full source code here:</p>
        <a href="https://github.com/your-repo" target="_blank" style="color: #00adb5; font-weight: bold;">GitHub Repo</a>
    </div>
{% endblock %}