{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center;">Projects</h3>

<div class="project-container">
    
    <div class="project-list">
        <h4>Game Dev Projects (In Unity)</h4>
        <a href="/projects/project-1" class="card-group"> First/Third person shooter </a>
        <a href="/projects/project-1" class="card-group">Procedural Terrain Generator</a>
        <a href="/projects/project-1" class="card-group"> Task System </a>
        <a href="/projects/project-1" class="card-group"> Save/Load System </a>
        <a href="/projects/project-1" class="card-group"> Complex NPCs </a>
        <a href="/projects/project-1" class="card-group"> Procedural animation </a>
        <a href="/projects/project-1" class="card-group"> (In Progress) </a>
    </div>

    <div class="project-list">
        <h4>Software Dev Projects</h4>
        <a href="/projects/project-2" class="card-group">Flask Note Website</a>
        <a href="/projects/project-2" class="card-group">Portfolio Site (This!)</a>
        <a href="/projects/project-2" class="card-group"> CLI calculator </a>
        <a href="/projects/project-2" class="card-group"> (In Progress) </a>
        <a href="/projects/project-2" class="card-group"> (In Progress) </a>
        <a href="/projects/project-2" class="card-group"> (In Progress) </a>
        <a href="/projects/project-2" class="card-group"> (In Progress) </a>
    </div>

</div>
{% endblock %}